@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
}

/* Swiper pagination bullet style */
.custom-pagination .swiper-pagination-bullet {
	background-color: white; /* Default inactive color */
	width: 12px;
	height: 12px;
	margin: 0 5px;
	border-radius: 50%;
	opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
	background-color: red; /* Active color */
}
